<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/imgs/favicon.png" type="image/png">

    <title>Home</title>
    <!-- fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-v3.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/component.css">
    <link rel="stylesheet" href="/assets/css/theme-styles.css">
    <link rel="stylesheet" href="/assets/css/theme-styles-setting.css">
    <link rel="stylesheet" href="/assets/css/theme-styles-responsive.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <!-- <link href="https://www.jqueryscript.net/css/jquerysctipttop.css?v4" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/assets/css/dtl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/slick-1.css" /> -->

</head>

<body>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
        <div class="gf-menu-device-wrapper">
            <div class="close-menu">x</div>
            <div class="gf-menu-device-container">
                <div class="row">
                    <ul class="site-nav gf-menu" style="display: none;">
                        <li class="item">
                            <a href="about-us.html" class=" ">
                                <span>
                                        <span class="lang1">Nosotros</span>
                                </span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://evolups.com/blog/" class=" ">
                                <span>
                                        <span class="lang1">Blog</span>
                                </span>
                            </a>
                        </li>

                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span>
                                        <span class="lang1">Newsletter</span>
                                </span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Presupuesto</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Historial</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Refiere un Comercio</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="contact.html" class=" ">
                                <span>
                                        <span class="lang1">Contactos</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="wrapper-container">
        <div class="dtl-section header-p">



        </div>
        <nav class="nav-bar" role="navigation">
            <div class="container" style="display: block;">
                <div class="row">
                    <ul class="site-nav">
                        <li class="item">
                            <a href="about-us.html" class=" ">
                                <span class="lang1">Nosotros</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://evolups.com/blog/" class=" ">
                                <span class="lang1">Blog</span>
                            </a>
                        </li>

                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Newsletter</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Presupuesto</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Historial</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Refiere un Comercio</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="contact.html" class=" ">
                                <span>
                                        <span class="lang1">Contactos</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wrapper-breadcrumb">
            <div class="breadcrumb container">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active">Inicio</a>
                <span class="spera">/</span>
                <span class="lang1">Nosotros</span>
            </div>
        </div>
        <main class="main-content container" role="main">
            <div class="row">

                <div class="col-xs-3 sidebar collection-sidebar">
                    <div class="widget sidebar-links sidebar-custom">
                        <!-- <div class="widget-title">
                                <span class="lang1">Nosotros </span>
                            </div> -->
                        <div class="widget-content">
                            <ul>
                                <!--  <li><a href="javascript:void(0)" class="active">Nosotros</a></li>
                                <li><a href="javascript:void(0)">Quiénes somos</a></li>
                                <li><a href="javascript:void(0)">Equipo</a></li>
                                <li><a href="javascript:void(0)">Beneficios para los consumidores</a></li>
                                <li><a href="javascript:void(0)">Beneficios para los restaurantes</a></li>
                                <li><a href="javascript:void(0)">Preguntas frecuentes</a></li>
                                <li><a href="javascript:void(0)">Políticas de privacidad</a></li>
                                <li><a href="javascript:void(0)">Términos y condiciones</a></li> -->
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-xs-9 col-main">
                    <div class="lang1">
                        <h3>Sobre Evolups</h3>
                        <p>
                            Somos un marketplace innovador que nace como resultado a la búsqueda de una solución a la necesidad de adquirir productos o servicios relacionados al sector ferretero mediante una plataforma digital, tales como agregados para la construcción, electricidad,
                            iluminación, pintura, herrería, cerrajería, ebanistería, cerámica, hogar, climatización y otros de manera ágil, efectiva, con mayor calidad a menor costo y con servicios a domicilio. Nuestro Marketplace, nos permite presentar
                            una mayor variedad de productos / artículos o servicios que son ofertados por nuestros comercios afiliados a nuestros usuarios registrados logrando mayor competitividad en el mercado objetivo

                        </p>
                        <h4>Valores</h4>

                        <ul>
                            <li>Innovación</li>
                            <li>Pasión</li>
                            <li> Agilidad</li>
                            <li>Excelencia</li>
                            <li> Responsabilidad,</li>
                            <li> Respeto</li>
                            <li> Respeto</li>
                            <li> Integridad</li>
                        </ul>

                        <h4>Misión</h4>
                        <blockquote>
                            Acompañar a nuestros usuarios a través de nuestra plataforma digital, en la ágil gestión de selección y adquisición de los mejores productos y servicios ofertados a los mejores precios.

                        </blockquote>
                        <h4>Visión</h4>
                        <blockquote>
                            Ser la experiencia preferida de nuestros usuarios presentándoles las mejores opciones de productos y servicios a través de nuestra plataforma digital.
                        </blockquote>
                    </div>
                </div>
            </div>

        </main>
        <div class="dtl-section float-left w-100">


            <div class="loading-modal modal" data-translate="cart.ajax_cart.loading">Loading...</div>
            <div class="ajax-error-modal modal">
                <div class="modal-inner">
                    <div class="ajax-error-title" data-translate="cart.ajax_cart.error">Error</div>
                    <div class="ajax-error-message"></div>
                </div>
            </div>
            <div class="ajax-success-modal modal">
                <div class="overlay"></div>
                <div class="content">
                    <div class="ajax-left">
                        <img class="ajax-product-image" alt="&nbsp;" src="" style="max-width:64px; max-height:64px;object-fit:cover;">
                    </div>
                    <div class="ajax-right">
                        <p class="ajax-product-title"></p>
                        <p class="success-message btn-go-to-cart" data-translate="cart.ajax_cart.success_text">is added to your shopping cart.</p>
                        <p class="success-message btn-go-to-wishlist" data-translate="wishlist.ajax_wishlist.success_text">is added to your wish list.</p>
                    </div>
                    <div class="actions">
                        <button class="btn-secondary continue-shopping shadow" onclick="javascript:void(0)" data-translate="cart.ajax_cart.continue_shopping">Continue Shopping</button>
                        <button class="btn-secondary btn-go-to-cart shadow" onclick="window.location='/cart'" data-translate="cart.ajax_cart.go_to_cart">Go to cart</button>
                        <button class="btn-secondary btn-go-to-wishlist shadow" onclick="window.location='/pages/wish-list'" data-translate="wishlist.ajax_wishlist.go_to_wishlist">Go To Wishlist</button>
                    </div>
                    <a href="javascript:void(0)" class="close-modal" data-translate="cart.ajax_cart.close">Close</a>
                </div>
            </div>

            <div class="newsletter-success-modal">
                <div class="modal-overlay"></div>
                <div class="halo-modal-content">
                    <a class="close close-modal" title="Close">
                            Liquid error (message-modal line 32): Could not find asset snippets/icon-close.liquid
                        </a>

                    <div class="halo-modal-body">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>You have successfully subscribed!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- <script type="text/javascript" src="assets/js/slick.min.js"></script> -->

    <script type="text/javascript" src="/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>