<div id="shopify-section-cart-template" class="shopify-section">
    <div class="col-12">

        <header class="page-header w-100">

            <a class="continue" data-translate="cart.ajax_cart.continue_shopping">
            </a>
        </header>

        <div>

        </div>

        <form action="/cart" method="post" novalidate="" *ngFor="let venta of  groupCategorias">
            <div class="row">
                <div class="wrapper-cart col-xs-8">
                    <div class="cart-title">
                        <h4 data-translate="cart.label.product">Numero Referencia:{{venta[0].nro_fact}} </h4>
                        <h2></h2>
                        <h4 data-translate="cart.label.product">Fecha Finalización: {{venta[0].fecha_fact}} </h4>
                        <h4 data-translate="cart.label.product">Titular : {{venta[0].comprador}}</h4>

                        <hr>
                    </div>



                    <!-- <ul class="cart-list "> -->
                    <div align="center">

                        <h4><b>!Muchas Gracias!</b>
                        </h4>
                        <h4>
                            <br> Recibimos tu pedido <br><br> Correctamente <br><br><br></h4>
                        <img src="./assets/imgs/Ready.png" alt=" "> <br>

                    </div>
                    <!--   <li *ngFor="let item of bagService.groupItems ">
                          
                            <div class="product-details ">
                                <a href="# " class="product-name ">
                                    <span class="lang1 ">{{item[0]?.descripcio}}</span>
                                </a>
                                 <p class="vendor ">Vendor</p> 
                                <p class="price "><span class="money ">{{ (item[0]?.precio1 * item.length) | currency }}</span></p>
                                <div class="quantity ">
                                    <label data-translate="cart.label.quantity ">Cantidad</label>
                                    <input [readOnly]="true " class="qty " type="number " name="updates[] " id="updates_46442277770 " value="{{item.length}} " min="0 " data-id="46442277770 ">
                                    <a class="remove " (click)="confirmarEliminarArticulos(item) ">Borrar</a>
                                    <input class="update " type="button " name="update " value="Actualizar Carrito ">
                                </div>
                            </div> 
                        </li> -->

                    <!-- </ul> -->

                </div>
                <div class="cart-row col-xs-4 ">
                    <div class="total-price " *ngFor="let item of  groupCategorias">
                        <h6 data-translate="cart.general.subtotal ">Total Orden</h6>
                        <p class="price "><span class="money ">{{(item[0].cantidad*item[0]?.Precio)}}</span></p>


                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <a (click)="VerHistorico()" class="btn " data-translate="cart.general.button_checkout "> Ver mi Pedido </a>


                </div>
            </div>
        </form>


    </div>

</div>