<div id="shopify-section-cart-template" class="shopify-section">
    <div class="col-12">

        <header class="page-header w-100">

            <a class="continue" data-translate="cart.ajax_cart.continue_shopping">
            </a>
        </header>

        <div>

        </div>

        <form action="/cart" method="post" novalidate="" *ngFor="let venta of  groupCategorias">
            <div class="row">
                <div class="wrapper-cart col-xs-8">
                    <div class="cart-title">
                        <h4 data-translate="cart.label.product">Numero Referencia:{{venta[0].nro_fact}} </h4>
                        <h2></h2>
                        <h4 data-translate="cart.label.product">Fecha Finalización: {{venta[0].fecha_fact}} </h4>
                        <h4 data-translate="cart.label.product">Titular : {{venta[0].comprador}}</h4>

                        <hr>
                    </div>

                    <!-- <ul class="cart-list "> -->
                    <div align="center">

                        <h4><b>!Muchas Gracias!</b>
                        </h4>
                        <h4>
                            <br> Recibimos tu pedido <br><br> Correctamente <br><br><br></h4>
                        <img src="./assets/imgs/Ready.png" alt=" "> <br>

                    </div>


                </div>
                <div class="cart-row col-xs-4 " *ngFor="let Vent of  grouTotal">
                    <div class="total-price ">
                        <h6 data-translate="cart.general.subtotal ">Total Orden</h6>
                        <p class="price "><span class="money ">${{Vent[0].Total}}</span></p>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <a (click)="VerHistorico()" class="btn " data-translate="cart.general.button_checkout "> Ver mi Pedido </a>
                    <br>

                    <a (click)="Irhome()" class="btn " data-translate="cart.general.button_checkout "> Volver a la Tienda </a>
                    <br>

                    <!--                     <a (click)="pagar('3331')" class="btn " data-translate="cart.general.button_checkout "> simular Pago </a> -->
                </div>
            </div>
        </form>

    </div>

</div>