<div class="dtl-section index-section index-section--flush">
    <div class="home-slideshow  index-home container_fluid">
        <div class="slideHome variable-width row ">
            <div class="slick-list">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/bano.png?v=1503389588" class="slide-img" alt="">
                </a>
                <div class="slider-content stop">
                    <h2 class="slide-heading ">
                        <!--      <span class="lang1">Sugeridos</span> -->
                    </h2>
                    <!-- <p class="slide-text ">
                        <span class="lang1">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu
                              suscipit nulla bibendumos</span>
                    </p>
                    <a href="departaments.html" class="slide-button  btn ">
                        <span class="lang1">Ir a la tienda</span>
                    </a> -->
                </div>
            </div>

            <div class="slick-list">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/ceramica.png?v=1503389588 " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--  <span class="lang1 ">CERÁMICA</span> -->
                    </h2>
                    <!--  <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>

            <div class="slick-list ">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/Construccion.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--     <span class="lang1 ">CONSTRUCCIÓN</span> -->
                    </h2>
                    <!-- <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>



            <div class="slick-list ">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/cerrajeria.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--       <span class="lang1 ">CERRAJERÍA</span> -->
                    </h2>
                    <!--    <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>

            <!-- 
            <div class="slick-list ">
                <a (click)="departamento( 'climatizacion') ">
                    <img src="./assets/imgs/slide/climatizacion.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                                <span class="lang1 ">CLIMATIZACIÓN</span>  
            </h2>
            <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> 
            <a (click)="departamento( 'climatizacion') " class="slide-button btn ">
                <span class="lang1 ">Ir a la tienda</span>
            </a>
        </div>
    </div>
    -->


            <div class="slick-list ">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/bano.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--    <span class="lang1 ">BAÑO</span> -->
                    </h2>
                    <!--  <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>


            <div class="slick-list ">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/cocina.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--             <span class="lang1 ">COCINA</span> -->
                    </h2>
                    <!--  <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>
            <div class="slick-list ">
                <a href="/ofertas/Ofertas" class="slimg ">
                    <img src="./assets/imgs/slide/ebanisteria.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <span class="lang1 ">EBANISTERÍA</span>
                    </h2>
                    <!-- <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>
            <!-- <div class="slick-list ">
                <a (click)="departamento( 'electricidad') " class="slimg ">
                    <img src="./assets/imgs/slide/electricidad.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <span class="lang1 ">ELÉCTRICOS</span>
                    </h2>
                    <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p>
                    <a (click)="departamento( 'electricidad') " class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>
 -->
            <!-- 
            <div class="slick-list ">
                <a (click)="departamento( 'pintura') " class="slimg ">
                    <img src="./assets/imgs/slide/Pintura.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <span class="lang1 ">PINTURAS</span>
                    </h2>
                    <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p>
                    <a (click)="departamento( 'pintura') " class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div> -->



            <div class="slick-list ">
                <a href="/ofertas/Ofertas">
                    <img src="./assets/imgs/slide/herramienta.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <!--       <span class="lang1 ">HERRERÍA</span> -->
                    </h2>
                    <!-- <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>



            <div class="slick-list ">
                <a href="/ofertas/Ofertas" class="slimg ">
                    <img src="./assets/imgs/slide/herramienta.png?v=1503389588 " class="slide-img " alt=" ">
                </a>
                <div class="slider-content ">
                    <h2 class="slide-heading ">
                        <span class="lang1 ">HERRAMIENTAS</span>
                    </h2>
                    <!-- <p class="slide-text ">
                        <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                    </p> -->
                    <a href="/ofertas/Ofertas" class="slide-button btn ">
                        <span class="lang1 ">Ir a la tienda</span>
                    </a>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="dtl-section index-section index-section--flush departaments ">
    <div class="banner-home-top ">
        <div class="container ">
            <div class="row ">

                <!--  <li class="col-sm-6 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( 'ofertas') ">
                                 <div class="zi-banner-image "> 
                    <img src="/assets/imgs/dp/CANO.jpeg " width="700 " height="500 " alt=" ">
                          </div> 
                    <div class="des-banner ">
                        <div class="wrap-inner ">
                            <div class="inner ">
                                <h3 style="color: #ffffff; ">
                                            <span class="lang1 ">Oferta de Temporada</span> 
                    </h3>
            </div>
        </div>
    </div>

    </a>
</div>
</li> -->

                <!--  <li class="col-sm-6 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( 'temporada') ">
                                 <div class="zi-banner-image "> 
                    <img src="/assets/imgs/dp/generic.png " width="700 " height="500 " alt=" ">
                     </div> 
                    <div class="des-banner ">
                        <div class="wrap-inner ">
                            <div class="inner ">
                                <h3 style="color: #ffffff; ">
                                   <span class="lang1 ">Oferta de Temporada</span> 
                    </h3>
            </div>
        </div>
    </div>

    </a>
</div>
</li> -->

                <div class=" owl-carousel owl-theme wow fadeInUp">
                    <div class="zi-banner item">
                        <a href="/productlist/ELÉCTRICOS/0">
                            <div>

                                <img src="/assets/imgs/carrusel/Generic.png" alt="">

                            </div>

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">
                                            <span class="lang1"></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/GENERAL/0">
                            <div>
                                <img src="/assets/imgs/carrusel/3m.png" alt="">
                            </div>
                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">
                                            <span class="lang1"></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/GENERAL/0">
                            <div>
                                <img src="/assets/imgs/carrusel/Cano.png" alt="">
                            </div>
                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">
                                            <span class="lang1"></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/CONSTRUCCIÓN/0">
                            <div>
                                <img src="/assets/imgs/carrusel/Cemex.png" alt="">
                            </div>

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">
                                            <span class="lang1"></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/ELÉCTRICOS/0">
                            <div>
                                <img src="/assets/imgs/carrusel/KDK.png" alt="">
                            </div>

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">
                                            <span class="lang1"></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
                <ul class="banner-4 ">
                    <!--    <li class="col-sm-3 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '20') ">
                                <div class="zi-banner-image ">

                                    <img src="/assets/imgs/dp/VOLTECK.png " width="300 " height="300 " alt=" ">

                                </div>

                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 20% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
 -->
                    <!-- 
                    <li class="col-sm-3 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '20') ">
                                <div class="zi-banner-image ">
                                    <img src="/assets/imgs/dp/TRUPER.png " width="300 " height="300 " alt=" ">
                                </div>
                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 20% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li> -->

                    <!--   <li class="col-sm-3 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '20') ">
                                <div class="zi-banner-image ">
                                    <img src="/assets/imgs/dp/LANCO.png " width="300 " height="300 " alt=" ">
                                </div>
                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 20% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </li>
 -->
                    <!--  <li class="col-sm-3 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '20') ">
                                <div class="zi-banner-image ">
                                    <img src="/assets/imgs/dp/VOLTECK.png " width="300 " height="300 " alt=" ">
                                </div>

                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 20% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </li> -->
                </ul>



                <ul class="banner-2 ">
                    <!--  <li class="col-sm-6 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '50') ">
                                <div class="zi-banner-image ">
                                    <img src="/assets/imgs/dp/pintura.jpg " width="600 " height="600 " alt="Hasta 50% de Descuento ">
                                </div>
                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 50% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </li> -->
                    <!-- 
                    <li class="col-sm-6 wow fadeInUp " data-wow-delay="100ms " style="visibility: visible; animation-delay: 100ms; ">
                        <div class="zi-banner ">
                            <a (click)="ofertas( '50') ">
                                <div class="zi-banner-image ">
                                    <img src="/assets/imgs/dp/ceramica.jpg " width="600 " height="360 " alt=" ">
                                </div>
                                <div class="des-banner ">
                                    <div class="wrap-inner ">
                                        <div class="inner ">
                                            <h3 style="color: #ffffff; ">
                                                <span class="lang1 ">Hasta 50% de Descuento</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </li>-->
                </ul>
                <!--CARRUSEL-->


                <!--FIN CARRUSEL-->
            </div>
        </div>
    </div>

    <div class="oferta-1 wow fadeInUp ">
        <div class="zi-banner">
            <a href="departament.html">
                <div class="zi-banner-image">
                    <img src="/assets/imgs/dp/madera.jpg" alt="">
                </div>
                <div class="des-banner">
                    <div class="wrap-inner">
                        <div class="inner">
                            <h3 style="color: #ffffff;">
                                <span class="lang1">Hasta 50% de Descuento</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="zi-banner">
            <a href="departament.html">
                <div class="zi-banner-image">
                    <img src="/assets/imgs/dp/pintura.jpg" alt="">
                </div>
                <div class="des-banner">
                    <div class="wrap-inner">
                        <div class="inner">
                            <h3 style="color: #ffffff;">
                                <span class="lang1">Hasta 50% de Descuento</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="zi-banner">
            <a href="departament.html">
                <div class="zi-banner-image">
                    <img src="/assets/imgs/dp/madera.jpg" alt="">
                </div>
                <div class="des-banner">
                    <div class="wrap-inner">
                        <div class="inner">
                            <h3 style="color: #ffffff;">
                                <span class="lang1">Hasta 50% de Descuento</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="zi-banner">
            <a href="departament.html">
                <div class="zi-banner-image">
                    <img src="/assets/imgs/dp/pintura.jpg" alt="">
                </div>
                <div class="des-banner">
                    <div class="wrap-inner">
                        <div class="inner">
                            <h3 style="color: #ffffff;">
                                <span class="lang1">Hasta 50% de Descuento</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>


<div class="dtl-section index-section ">
    <div class="widget-new-product container ">
        <div class="row ">
            <div class="widget-title text-center w-100 ">
                <h2>
                    <span class="box-title lang1 ">Nuevos Productos</span>
                </h2>
            </div>

            <div class="widget-des text-center w-100 ">
                <!-- <span class="lang1 ">Naminos elementum disus tincidunts de cosmopolis an loremous</span> -->
            </div>
            <div class="widget-product ">
                <div class="products-grid ">
                    <div class="no_crop_image grid-item col-xs-6 col-sm-4 col-md-3 col-lg-3 " *ngFor="let item of groupItemsHome ">
                        <div class="inner product-item on-sale wow fadeIn " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                            <div class="inner-top ">
                                <div class="product-top ">
                                    <div class="product-image image-swap ">
                                        <a (click)="ProductDetail(item[0]) " class="product-grid-image ">
                                            <img src={{item[0].foto_url}}>
                                            <img src={{item[0].foto_url2}}>
                                            <div class="hover "></div>
                                        </a>
                                    </div>
                                    <div class="product-label ">
                                        <strong class="label " data-translate="products.product.sale ">Venta</strong>
                                    </div>
                                    <div class="product-des ">
                                        <div class="action ">
                                            <form (click)="ProductDetail(item[0]) " method="post " class="variants " enctype="multipart/form-data ">
                                                <button type="button " class="btn " onclick="window.location.href='car.html' " title="Agregar al Carrito ">
                                                      <i class="fa fa-shopping-cart " aria-hidden="true "></i>
                                                      <span data-translate="products.product.select_options ">Agregar al Carrito
                                                          </span>
                                                  </button>
                                            </form>
                                        </div>

                                        <div class="quickview-button ">
                                            <a (click)="ProductDetail(item[0]) " title="Ver Detalle ">
                                                <i class="fa fa-search " aria-hidden="true "></i>
                                                <span data-translate="products.product.quick_view ">
                                                      Quick View
                                                  </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom ">
                                    <div class="product-vendor ">{{item[0].descripcio}}</div>
                                    <a class="product-title ">
                                        <!--    <span class="lang1 ">
                                              Naminos elementum disus tincidunts cosmo de
                                              cosmopolis
                                          </span> -->
                                    </a>
                                    <div class="price-box ">
                                        <p class="sale ">
                                            <!-- <span class="old-price ">
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            <span class="special-price ">
                                                  <em data-translate="products.product.from ">
                                                      from
                                                  </em>
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                  <div class=" no_crop_image grid-item col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
                        <div class="inner product-item on-sale wow fadeIn " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                            <div class="inner-top ">
                                <div class="product-top ">
                                    <div class="product-image image-swap ">
                                        <a href="details.html " class="product-grid-image ">
                                            <img src={{item[0].foto_url}} alt="Naminos elementum disus tincidunts cosmo de cosmopolis ">
                                            <img src="assets/imgs/l19444820_b97013b2-7cff-4b58-847b-bae01b23bf49_large.jpg " alt="Naminos elementum disus tincidunts cosmo de cosmopolis ">
                                            <div class="hover "></div>
                                        </a>
                                    </div>
                                    <div class="product-label ">
                                        <strong class="label " data-translate="products.product.sale ">Venta</strong>
                                    </div>
                                    <div class="product-des ">
                                        <div class="action ">
                                            <form action="/cart/add " method="post " class="variants " enctype="multipart/form-data ">
                                                <button type="button " class="btn " onclick="window.location.href='car.html' " title="Select options ">
                                                      <i class="fa fa-shopping-cart " aria-hidden="true "></i>
                                                      <span data-translate="products.product.select_options ">Select
                                                          options</span>
                                                  </button>
                                            </form>
                                        </div>

                                        <div class="quickview-button ">
                                            <a href="javascript:void(0) " title="Quick View ">
                                                <i class="fa fa-search " aria-hidden="true "></i>
                                                <span data-translate="products.product.quick_view ">
                                                      Quick View
                                                  </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom ">
                                    <div class="product-vendor ">{{item[0].descripcio}}</div>
                                    <a class="product-title " href="details.html ">
                                        <span class="lang1 ">
                                              Naminos elementum disus tincidunts cosmo de
                                              cosmopolis  
                                          </span>
                                    </a>
                                    <div class="price-box ">
                                        <p class="sale ">
                                            <span class="old-price ">
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                            <span class="special-price ">
                                                  <em data-translate="products.product.from ">
                                                      from
                                                  </em>
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" no_crop_image grid-item col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
                        <div class="inner product-item on-sale wow fadeIn " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                            <div class="inner-top ">
                                <div class="product-top ">
                                    <div class="product-image image-swap ">
                                        <a href="details.html " class="product-grid-image ">
                                            <img src={{item[0].foto_url}} alt=" ">
                                            <img src="assets/imgs/l19444820_b97013b2-7cff-4b58-847b-bae01b23bf49_large.jpg " alt="Naminos elementum disus tincidunts cosmo de cosmopolis ">
                                            <div class="hover "></div>
                                        </a>
                                    </div>
                                    <div class="product-label ">
                                        <strong class="label " data-translate="products.product.sale ">Venta</strong>
                                    </div>
                                    <div class="product-des ">
                                        <div class="action ">
                                            <form action="/cart/add " method="post " class="variants " enctype="multipart/form-data ">
                                                <button type="button " class="btn " onclick="window.location.href='car.html' " title="Select options ">
                                                      <i class="fa fa-shopping-cart " aria-hidden="true "></i>
                                                      <span data-translate="products.product.select_options ">Select
                                                          options</span>
                                                  </button>
                                            </form>
                                        </div>

                                        <div class="quickview-button ">
                                            <a href="javascript:void(0) " title="Quick View ">
                                                <i class="fa fa-search " aria-hidden="true "></i>
                                                <span data-translate="products.product.quick_view ">
                                                      Quick View
                                                  </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom ">
                                    <div class="product-vendor ">{{item[0].descripcio}}</div>
                                    <a class="product-title " href="details.html ">
                                        <span class="lang1 ">
                                              Naminos elementum disus tincidunts cosmo de
                                              cosmopolis 
                                          </span>
                                    </a>
                                    <div class="price-box ">
                                        <p class="sale ">
                                            <span class="old-price ">
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                            <span class="special-price ">
                                                  <em data-translate="products.product.from ">
                                                      from
                                                  </em>
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" no_crop_image grid-item col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
                        <div class="inner product-item on-sale wow fadeIn " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                            <div class="inner-top ">
                                <div class="product-top ">
                                    <div class="product-image image-swap ">
                                        <a href="details.html " class="product-grid-image ">
                                            <img src={{item[0].foto_url}} alt=" ">
                                            <img src="assets/imgs/l19444820_b97013b2-7cff-4b58-847b-bae01b23bf49_large.jpg " alt="Naminos elementum disus tincidunts cosmo de cosmopolis ">
                                            <div class="hover "></div>
                                        </a>
                                    </div>
                                    <div class="product-label ">
                                        <strong class="label " data-translate="products.product.sale ">Venta</strong>
                                    </div>
                                    <div class="product-des ">
                                        <div class="action ">
                                            <form action="/cart/add " method="post " class="variants " enctype="multipart/form-data ">
                                                <button type="button " class="btn " onclick="window.location.href='car.html' " title="Select options ">
                                                      <i class="fa fa-shopping-cart " aria-hidden="true "></i>
                                                      <span data-translate="products.product.select_options ">Select
                                                          options</span>
                                                  </button>
                                            </form>
                                        </div>

                                        <div class="quickview-button ">
                                            <a href="javascript:void(0) " title="Quick View ">
                                                <i class="fa fa-search " aria-hidden="true "></i>
                                                <span data-translate="products.product.quick_view ">
                                                      Quick View
                                                  </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom ">
                                    <div class="product-vendor ">{{item[0].descripcio}}</div>
                                    <a class="product-title " href="details.html ">
                                        <span class="lang1 ">
                                              Naminos elementum disus tincidunts cosmo de
                                              cosmopolis
                                          </span>
                                    </a>
                                    <div class="price-box ">
                                        <p class="sale ">
                                            <span class="old-price ">
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                            <span class="special-price ">
                                                  <em data-translate="products.product.from ">
                                                      from
                                                  </em>
                                                  <span class="money ">{{item[0].precio1}}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                                            <!--  <div class="infinite-scrolling-homepage wow fadeIn " style="visibility: visible; ">
                                                <a href="javascript:void(0) " data-translate="home_page.show_more ">Cargar más productos....</a>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>