<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/imgs/favicon.png" type="image/png">

    <title>Home</title>
    <!-- fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-v3.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/component.css">
    <link rel="stylesheet" href="/assets/css/theme-styles.css">
    <link rel="stylesheet" href="/assets/css/theme-styles-setting.css">
    <link rel="stylesheet" href="/assets/css/theme-styles-responsive.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <!-- <link href="https://www.jqueryscript.net/css/jquerysctipttop.css?v4" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/assets/css/dtl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/slick-1.css" /> -->

</head>

<body>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
        <div class="gf-menu-device-wrapper">
            <div class="close-menu">x</div>
            <div class="gf-menu-device-container">
                <div class="row">
                    <ul class="site-nav gf-menu" style="display: none;">
                        <li class="item">
                            <a href="about-us.html" class=" ">
                                <span>
                                        <span class="lang1">Nosotros</span>
                                </span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="blogs.html" class=" ">
                                <span>
                                        <span class="lang1">Blog</span>
                                </span>
                            </a>
                        </li>

                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span>
                                        <span class="lang1">Newsletter</span>
                                </span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Presupuesto</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Historial</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Refiere un Comercio</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="contact.html" class=" ">
                                <span>
                                        <span class="lang1">Contactos</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="wrapper-container">
        <div class="dtl-section header-p">
            <!--  <header class="site-header" role="banner">
                <div class="header-bottom">
                    <div class="header-mobile">
                        <div class="container">
                            <div class="row">
                                <div class="opt-area"></div>
                                <div class="customer-area dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
                                    <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                        <ul class="customer-links">

                                            <li class="dropdown ct_login">
                                          <a class="login visible-xs" href="/account/login" data-translate="customer.login.sign_in">Sign In</a>
                                                <a class="login hidden-xs" href="javascript:void(0)" data-toggle="dropdown" data-translate="customer.login.sign_in">Sign In</a>

                                                <a id="customer_register_link" class="visible-xs" href="/account/register" data-translate="layout.customer.create_account">Create Account</a>

                                                <div class="dropdown-menu shadow" role="menu" aria-labelledby="dLabel">
                                                    <h6 class="login-header" data-translate="customer.login.sign_in">Sign In
                                                    </h6>
                                                    <form class="form-login" accept-charset="UTF-8" action="/account/login" method="post">

                                                        <input name="form_type" type="hidden" value="customer_login">
                                                        <input name="utf8" type="hidden" value="✓">

                                                        <label for="customer_email" data-translate="customer.login.email">Email
                                                                Address<em>*</em></label>
                                                        <input type="email" value="" name="customer[email]">

                                                        <label for="customer_password" data-translate="customer.login.password">Password<em>*</em></label>
                                                        <input type="password" value="" name="customer[password]">

                                                        <div class="action-btn">
                                                            <input type="submit" data-translate="customer.login.login" class="btn-secondary" value="Login">
                                                            <p class="text-center"><a href="/account/login#recover">Forgot your
                                                                        password?</a></p>
                                                        </div>
                                                        <div class="new-customer">

                                                            <a href="/account/register" class="btn">Create
                                                                    Account</a>

                                                        </div>
                                                    </form>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           end header Mobile 

                    <div class="container header-panel-bottom">
                        <div class="row">
                            <div class="align-items-center d-flex header-panel justify-content-between">

                                <div class="menu-block text-center visible-phone">
                                   start Navigation Mobile  
                                    <div id="showRightPush" class="resized gf-menu-device-wrapper">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                </div>
                               end Navigation Mobile 

                                <div class="header-logo-fix">
                                    <a href="index.html">
                                        <img src="assets/imgs/logo-evolups100.png" alt="">
                                    </a>
                                </div>

                                <h1 class="header-logo col-sm-3">
                                    <a href="index.html">
                                        <img src="assets/imgs/logo-evolups100.png" alt="">
                                    </a>
                                </h1>

                             header-logo

                                <div class="header-search">
                                    <div class="nav-search dropdown">
                                        <a class="icon-search" href="javascript:void(0)" data-toggle="dropdown">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <div class="dropdown-menu shadow">
                                            <form action="/search" method="get" class="input-group search-bar" role="search">
                                                <input type="text" name="q" value="" placeholder="Buscar en los departamentos" class="input-group-field" aria-label="Search Site" autocomplete="off">
                                                <button type="submit" class="btn-search">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                end header search
                                <ul class="customer-links">
                                    <li class="departament">
                                        <a href="departaments.html" class="tooltips" title="Departamentos">
                                            <i class="fas fa-store fa-2x"></i>
                                        </a>
                                    </li>
                                    <li class="ct_login">
                                        <a class="login visible-xs" href="/login.html">Sign In</a>
                                        <a class="visible-xs" href="/register.html">Create Account</a>
                                        <a class="login hidden-xs" href="javascript:void(0)" data-toggle="dropdown">Iniciar Sesion</a>
                                        <div class="dropdown-menu shadow" role="menu" aria-labelledby="dLabel">
                                            <h6 class="login-header" data-translate="customer.login.sign_in">Iniciar Sesion</h6>
                                            <form class="form-login" accept-charset="UTF-8" action="/login" method="post">

                                                <input name="form_type" type="hidden" value="customer_login">
                                                <input name="utf8" type="hidden" value="✓">

                                                <label for="customer_email" data-translate="customer.login.email">Email<em>*</em></label>
                                                <input type="email" value="" name="customer[email]">

                                                <label for="customer_password" data-translate="customer.login.password">Contraseña<em>*</em></label>
                                                <input type="password" value="" name="customer[password]">

                                                <div class="action-btn">
                                                    <input type="submit" data-translate="customer.login.login" class="btn-secondary" value="Iniciar">
                                                    <p class="text-center"><a href="/login_recover.html" data-translate="customer.login.forgot_password">¿Olvidaste tu
                            contraseña?</a></p>
                                                </div>
                                                <div class="new-customer">

                                                    <a href="/register.html" class="btn">Crear Cuenta</a>

                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                                <div class="top-header ">
                                    <div class="wrapper-top-cart">
                                        <div class="top-cart">
                                            <a href="javascript:void(0)" data-toggle="dropdown" id="cartToggle">
                                                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="first">Carrito</span>
                                                <span id="cartCount">0</span>
                                            </a>
                                            <div id="dropdown-cart" class="dropdown-menu shadow">
                                                <div class="no-items">
                                                    <p data-translate="cart.general.empty">Su carrito está vacío.</p>
                                                    <p class="text-continue"><a href="javascript:void(0)" data-translate="cart.ajax_cart.continue_shopping">Continue Comprando</a>
                                                    </p>
                                                </div>
                                                <div class="has-items" style="display: none;">
                                                    <div class="summary">
                                                        <p class="total">
                                                            <span class="label"><span data-translate="cart.label.total">Total</span>:</span>
                                                            <span class="price"><span class="money" data-currency-usd="$0.00">$0.00</span></span>
                                                        </p>
                                                    </div>
                                                    <div class="actions">
                                                        <button class="btn" onclick="window.location='/checkout'" data-translate="cart.general.checkout">Checkout Now</button>
                                                    </div>
                                                    <p class="text-cart">
                                                        <a href="/cart" data-translate="cart.general.view_cart">Or
                                                                View Cart
                                                            </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                End Top Header 

                                <div class="menu-block btn_menu text-center hidden-xs hidden-phone">
                                    start Navigation Mobile  
                                    <a href="javascript:void(0)" class="resized dbars">
                                        <i class="fa fa-bars f32 font-white"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="resized dclose">
                                        <i class="fas fa-times f32 font-white"></i>
                                    </a>
                                    <nav class="float_menu">
                                        <div class="float_menu_wrapper">
                                            <ul>
                                                <li class="item">
                                                    <a href="about-us.html" class=" ">
                                                        <span class="lang1">Nosotros</span>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="blogs.html" class=" ">
                                                        <span class="lang1">Blog</span>
                                                    </a>
                                                </li>

                                                <li class="item">
                                                    <a class="menu__moblie" href="index.html">
                                                        <span class="lang1">Newsletter</span>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a class="menu__moblie" href="index.html">
                                                        <span class="lang1">Presupuesto</span>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a class="menu__moblie" href="index.html">
                                                        <span class="lang1">Historial</span>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a class="menu__moblie" href="index.html">
                                                        <span class="lang1">Refiere un Comercio</span>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="contact.html" class=" ">
                                                        <span>
                                                                <span class="lang1">Contactos</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>


                            </div>
                            <div class="nav-search-mb">

                                <form action="/search" method="get" class="input-group search-bar" role="search">

                                    <input type="hidden" name="type" value="product">

                                    <input type="text" name="q" value="" data-translate="general.search.placeholder" translate-item="placeholder" placeholder="Search entire store" class="input-group-field" aria-label="Search Site" autocomplete="off">
                                    <button type="submit" class="btn-search"><i class="fa fa-search"
                                                aria-hidden="true"></i></button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </header> -->
        </div>
        <nav class="nav-bar" role="navigation">
            <div class="container" style="display: block;">
                <div class="row">
                    <ul class="site-nav">
                        <li class="item">
                            <a href="about-us.html" class=" ">
                                <span class="lang1">Nosotros</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="blogs.html" class=" ">
                                <span class="lang1">Blog</span>
                            </a>
                        </li>

                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Newsletter</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Presupuesto</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Historial</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="menu__moblie" href="index.html">
                                <span class="lang1">Refiere un Comercio</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="contact.html" class=" ">
                                <span>
                                        <span class="lang1">Contactos</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper-breadcrumb">
            <div class="breadcrumb container">
                <a href="/" data-translate="general.breadcrumbs.home">Home</a>
                <span class="spera">/</span>
                <span data-translate="general.breadcrumbs.cart">Carrito</span>
            </div>
        </div>
        <main class="main-content container template-cart" role="main">

            <div id="shopify-section-cart-template" class="shopify-section">
                <div class="row">
                    <header class="page-header w-100">
                        <h4>Mi carrito</h4>
                    </header>


                    <form action="/cart" method="post" novalidate="">
                        <div class="row">
                            <div class="wrapper-cart col-xs-12">
                                <table class="table template-cart" *ngFor="let venta of  groupCategorias">
                                    <thead class="headt">
                                        <tr>
                                            <th>Productos</th>
                                            <th>SKU</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody class="product-details cart-row">
                                        <tr *ngFor="let VE of  venta">
                                            <td>
                                                <div class="prod">
                                                    <a href="/detailsproduct/{{VE.codigo}}" class="product-img">

                                                        <img src={{VE.foto_url}} alt="">
                                                    </a>
                                                    <p class="dtll flex-column">
                                                        <strong>{{VE.descripcio}}</strong>
                                                        <span class="vendor"> Marca: {{VE.marca}} </span>
                                                        <span class="vendor"> Comercio: {{VE.comercio}} </span>


                                                        <a (click)="confirmarEliminarArticulos(venta[0].codigo)" class=" remove ">Remover</a>

                                                    </p>



                                                </div>
                                            </td>
                                            <td>{{VE.codigo}}</td>
                                            <td>RD$ {{VE.precio1 | currency}}</td>
                                            <td>

                                                <div class="ctd ">
                                                    <!-- 
                                                    <label>Cantidad</label>
                                                    <input class="form-control" [(ngModel)]="cantidad" type="text " name="quantity " id="quantity " value="{{VE.cantidad}}" style="width: 10px; ">

                                                    <span class="btn " (click)="meno()">−</span>
                                                    <span class="btn " (click)="mas()">+</span> -->



                                                    <a (click)="mas(VE.codigo,VE.cantidad)" class="btn ">+</a>
                                                    <input type="text " value="{{VE.cantidad}}">
                                                    <a (click)="meno(VE.codigo,VE.cantidad)" class="btn ">-</a>

                                                </div>
                                            </td>
                                            <td>RD$ {{VE.precio1*VE.cantidad | currency}} </td>
                                        </tr>
                                        <!--  <tr>
                                            <td>
                                                <div class="prod ">
                                                    <a class="product-img " href="# ">
                                                        <img src="assets/imgs/01_medium.jpg?v=1502171711 " alt=" ">
                                                    </a>
                                                    <p class="dtll flex-column ">
                                                        <strong>Pinza de corte</strong>
                                                        <span class="vendor "> Marca: Truper </span>
                                                        <span class="vendor "> Comercio: ABC </span>
                                                        <a href="# " class="remove ">Remover</a>
                                                    </p>
                                                </div>
                                            </td>
                                            <td>ABD33665</td>
                                            <td>RD$ 99.99</td>
                                            <td>
                                                <div class="ctd ">
                                                    <a href="# " class="btn ">+</a>
                                                    <input type="text " value="1 ">
                                                    <a href="# " class="btn ">-</a>
                                                </div>
                                            </td>
                                            <td>RD$ 99.99</td>
                                        </tr> -->

                                    </tbody>
                                </table>

                            </div>
                            <div class="cart-row col-xs-12 ">
                                <div class="col-md-6 ">
                                    <label class="add-comments ">
                                        <span data-translate="cart.general.label_text ">Comentario Adicional</span>
                                    </label>
                                    <textarea name="note " class="input-full "></textarea>
                                </div>
                                <div class="total-price col-md-6 ">
                                    <ul class="count " *ngFor="let total of groupCarTotal ">
                                        <li>
                                            <strong>Subtotal</strong>
                                            <span>RD$  {{total[0].subtotal | currency}} </span>
                                        </li>
                                        <li>
                                            <strong>18% de ITBIS</strong>
                                            <span>RD$ {{total[0].itbis| currency}} </span>
                                        </li>
                                        <li>
                                            <strong>Envio</strong>
                                            <span>RD$ {{total[0].flete}} </span>
                                        </li>

                                        <li>

                                            <strong>Total</strong>
                                            <span>RD$ {{total[0].total+total[0].flete | currency}} </span>
                                        </li>

                                    </ul>
                                    <div class="row mt-3 ">
                                        <div class="col-sm-6 ">
                                            <a [routerLink]="[ '/productlist', 'COCINA',0] " routerLinkActive="router-link-active " class="ccompra ">
                                                Seguir Comprando
                                            </a>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <a routerLink="/checkout" class="btn ppago ">
                                                Procesar pago
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </main>
        <div class="dtl-section float-left w-100 ">
            <footer class="site-footer ">
                <div class="footer-middle wow fadeInUp " data-wow-delay="200ms ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <h6 class="title ">
                                    <span class="lang1 ">Información </span>
                                </h6>
                                <ul>
                                    <li>
                                        <a href="# ">
                                            <span class="lang1 ">Nosotros</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="# ">
                                            <span class="lang1 ">Contacto</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="# ">
                                            <span class="lang1 ">Blog</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="# ">
                                            <span class="lang1 ">Refiere un Comercio</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 newslt ">
                                <h6 class="title ">
                                    <span class="lang1 ">REGÍSTRESE EN NUESTRO BOLETÍN DE NOTICIAS</span>
                                </h6>
                                <span class="sub-tit hide ">
                                        <span class="lang1 ">Enter your email bellow to receive a $30 coupon, special offters,
                                            excusive discounts and more!</span>
                                </span>
                                <div class="inner-form-subscribe ">
                                    <form method="post " action="/contact " id="contact_form " accept-charset="UTF-8 " class="input-group ">
                                        <input class="input-group-field " type="email " name="contact[email] " placeholder="Enter your email address " required="required ">
                                        <button class="btn " type="submit ">Suscribirse</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-2 ">
                                <div class="social-footer text-center ">
                                    <h6 class="title ">
                                        <span class="lang1 ">Síguenos en</span>
                                    </h6>
                                    <ul class="social ">
                                        <li class="Facebook ">
                                            <a href="# " title="Facebook ">
                                                <i class="fa fa-facebook "></i>
                                            </a>
                                        </li>
                                        <li class="Twitter ">
                                            <a href="# " title="Twitter "><i class="fa fa-twitter "></i></a>
                                        </li>
                                        <li class="Instagram ">
                                            <a href="# " title="Instagram ">
                                                <i class="fa fa-instagram "></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom wow fadeInUp " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                    <div class="container ">

                        <address class="col-sm-12 ">
                                <span class="lang1 ">© 2020 Evolups. Todos los derechos reservados </span>
                            </address>
                        <div class="col-sm-12 ">
                            <div id="payment-methods ">
                                <span class="payment-method ">
                                        <a href="/cart " title="visa ">
                                            <img
                                                src="assets/imgs/Visa_Inverted_58x36.png?v=1503289230 ">
                                        </a>
                                    </span>
                                <span class="payment-method ">
                                        <a href="/cart " title="visa Electron ">
                                            <img
                                                src="assets/imgs/Visa_Electron_58x36.png?v=1503289246 ">
                                        </a>
                                    </span>
                                <span class="payment-method ">
                                        <a href="/cart " title="MasterCard ">
                                            <img
                                                src="assets/imgs/MasterCard_Inverted_58x36.png?v=1503289271 ">
                                        </a>
                                    </span>
                                <span class="payment-method ">
                                        <a href="/cart " title="Maestro ">
                                            <img src="assets/imgs/Maestro_58x36.png?v=1503289287 ">
                                        </a>
                                    </span>
                                <span class="payment-method ">
                                        <a href="/cart " title="Paypal ">
                                            <img
                                                src="assets/imgs/PayPal_cb89a856-006f-4176-a552-055826074573_58x36.png?v=1503289315 ">
                                        </a>
                                    </span>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>


            <div class="loading-modal modal " data-translate="cart.ajax_cart.loading ">Loading...</div>
            <div class="ajax-error-modal modal ">
                <div class="modal-inner ">
                    <div class="ajax-error-title " data-translate="cart.ajax_cart.error ">Error</div>
                    <div class="ajax-error-message "></div>
                </div>
            </div>
            <div class="ajax-success-modal modal ">
                <div class="overlay "></div>
                <div class="content ">
                    <div class="ajax-left ">
                        <img class="ajax-product-image " alt="&nbsp; " src=" " style="max-width:64px; max-height:64px;object-fit:cover; ">
                    </div>
                    <div class="ajax-right ">
                        <p class="ajax-product-title "></p>
                        <p class="success-message btn-go-to-cart " data-translate="cart.ajax_cart.success_text ">is added to your shopping cart.</p>
                        <p class="success-message btn-go-to-wishlist " data-translate="wishlist.ajax_wishlist.success_text ">is added to your wish list.</p>
                    </div>
                    <div class="actions ">
                        <button class="btn-secondary continue-shopping shadow " onclick="javascript:void(0) " data-translate="cart.ajax_cart.continue_shopping ">Continue Shopping</button>
                        <button class="btn-secondary btn-go-to-cart shadow " onclick="window.location='/cart' " data-translate="cart.ajax_cart.go_to_cart ">Go to cart</button>
                        <button class="btn-secondary btn-go-to-wishlist shadow " onclick="window.location='/pages/wish-list' " data-translate="wishlist.ajax_wishlist.go_to_wishlist ">Go To Wishlist</button>
                    </div>
                    <a href="javascript:void(0) " class="close-modal " data-translate="cart.ajax_cart.close ">Close</a>
                </div>
            </div>

            <div class="newsletter-success-modal ">
                <div class="modal-overlay "></div>
                <div class="halo-modal-content ">
                    <a class="close close-modal " title="Close ">
                            Liquid error (message-modal line 32): Could not find asset snippets/icon-close.liquid
                        </a>

                    <div class="halo-modal-body ">
                        <i class="fa fa-check " aria-hidden="true "></i>
                        <span>You have successfully subscribed!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js "></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js "></script>
    <!-- <script type="text/javascript " src="assets/js/slick.min.js "></script> -->

    <script type="text/javascript " src="/assets/js/wow.min.js "></script>
    <script type="text/javascript " src="/assets/js/owl.carousel.min.js "></script>
    <script type="text/javascript " src="/assets/js/jquery.nicescroll.min.js "></script>
    <script src="/assets/js/app.js "></script>
</body>

</html>