<main class="main-content home">

    <div class="dtl-section index-section index-section--flush">
        <div class="home-slideshow  index-home container_fluid">
            <div class="slideHome variable-width row ">
                <div class="slick-list">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/bano.png?v=1503389588" class="slide-img" alt="">
                    </a>
                    <div class="slider-content stop">
                        <h2 class="slide-heading ">
                            <!--      <span class="lang1">Sugeridos</span> -->
                        </h2>
                        <!-- <p class="slide-text ">
                            <span class="lang1">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu
                                  suscipit nulla bibendumos</span>
                        </p>
                        <a href="departaments.html" class="slide-button  btn ">
                            <span class="lang1">Ir a la tienda</span>
                        </a> -->
                    </div>
                </div>

                <div class="slick-list">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/ceramica.png?v=1503389588 " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--  <span class="lang1 ">CERÁMICA</span> -->
                        </h2>
                        <!--  <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>

                <div class="slick-list ">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/Construccion.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--     <span class="lang1 ">CONSTRUCCIÓN</span> -->
                        </h2>
                        <!-- <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>



                <div class="slick-list ">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/cerrajeria.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--       <span class="lang1 ">CERRAJERÍA</span> -->
                        </h2>
                        <!--    <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>

                <div class="slick-list ">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/bano.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--    <span class="lang1 ">BAÑO</span> -->
                        </h2>
                        <!--  <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>


                <div class="slick-list ">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/cocina.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--             <span class="lang1 ">COCINA</span> -->
                        </h2>
                        <!--  <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>
                <div class="slick-list ">
                    <a href="/ofertas/Ofertas" class="slimg ">
                        <img src="./assets/imgs/slide/ebanisteria.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <span class="lang1 ">EBANISTERÍA</span>
                        </h2>
                        <!-- <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>



                <div class="slick-list ">
                    <a href="/ofertas/Ofertas">
                        <img src="./assets/imgs/slide/herramienta.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <!--       <span class="lang1 ">HERRERÍA</span> -->
                        </h2>
                        <!-- <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>



                <div class="slick-list ">
                    <a href="/ofertas/Ofertas" class="slimg ">
                        <img src="./assets/imgs/slide/herramienta.png?v=1503389588 " class="slide-img " alt=" ">
                    </a>
                    <div class="slider-content ">
                        <h2 class="slide-heading ">
                            <span class="lang1 ">HERRAMIENTAS</span>
                        </h2>
                        <!-- <p class="slide-text ">
                            <span class="lang1 ">Pellentesque posuere dorci lobortis scelerisque blanditos milancelos vmagna arcu suscipit nulla bibendumos</span>
                        </p> -->
                        <a href="/ofertas/Ofertas" class="slide-button btn ">
                            <span class="lang1 ">Ir a la tienda</span>
                        </a>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!--FIN DEL SLIDER -->

    <!--CARRUSEL DEPARTAMENTO-->

    <div class="dtl-section index-section index-section--flush">
        <div class="home-slideshow  index-home container_fluid">
        </div>
    </div>
    <div class="dtl-section index-section index-section--flush departaments">
        <div class="banner-home-top">
            <div class="container">
                <div class="oferta-1 wow fadeInUp">
                    <div class="zi-banner">
                        <a href="/productlist/CERÁMICA/0">

                            <img src="/assets/imgs/carrusel/Cerámica.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;">

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="zi-banner">
                        <a href="/productlist/BAÑOS/0">

                            <img src="/assets/imgs/carrusel/Baño.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;">

                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner">
                        <a href="/productlist/CERÁMICA/0">

                            <img src="/assets/imgs/carrusel/Cerámica.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;">

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="zi-banner">
                        <a href="/productlist/CERRAJERIA/0">

                            <img src="/assets/imgs/carrusel/Cerrajería.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">

                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="zi-banner">
                        <a href="/productlist/EBANISTERÍA/0">

                            <img src="/assets/imgs/carrusel/Ebanistería.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">

                                </div>
                            </div>

                        </a>
                    </div>


                    <div class="zi-banner">
                        <a href="/productlist/ELÉCTRICOS/0">

                            <img src="/assets/imgs/carrusel/Eléctricos.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">

                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner">
                        <a href="/productlist/HERRERÍA/0">

                            <img src="/assets/imgs/carrusel/Herreria.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">

                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="zi-banner">
                        <a href="/productlist/PLOMERÍA/0">

                            <img src="/assets/imgs/carrusel/Plomería.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">

                                </div>
                            </div>

                        </a>
                    </div>


                </div>


                <!--FIN CARRUSEL DEPARTAMENTO-->

                <!--CARRUSEL DE MARCAS-->

                <div class=" owl-carousel owl-theme wow fadeInUp">
                    <div class="zi-banner item">
                        <a href="/productlist/CONSTRUCCIÓN/0">

                            <img src="/assets/imgs/carrusel/CANO.png" alt="">


                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/ELÉCTRICOS/0">

                            <img src="/assets/imgs/carrusel/3m.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/CONSTRUCCIÓN/0">

                            <img src="/assets/imgs/carrusel/Cemex.png" alt="">

                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/ELÉCTRICOS/0">

                            <img src="/assets/imgs/carrusel/Generic.png" alt="">


                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="zi-banner item">
                        <a href="/productlist/CLIMATIZACIÓN/0">

                            <img src="/assets/imgs/carrusel/KDK.png" alt="">


                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="zi-banner item">
                        <a href="/productlist/HERRAMIENTAS/0">

                            <img src="/assets/imgs/carrusel/TRUPER.png" alt="">


                            <div class="des-banner">
                                <div class="wrap-inner">
                                    <div class="inner">
                                        <h3 style="color: #ffffff;" class="em1-1">

                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>

                </div>
                <!--CARRUSEL DE MARCAS-->
                <div class="dtl-section index-section ">
                    <div class="widget-new-product container ">
                        <div class="row ">
                            <div class="widget-title text-center w-100 ">
                                <h2>
                                    <span class="box-title lang1 ">Nuevos Productos</span>
                                </h2>
                            </div>

                            <div class="widget-des text-center w-100 ">
                                <!-- <span class="lang1 ">Naminos elementum disus tincidunts de cosmopolis an loremous</span> -->
                            </div>
                            <div class="widget-product ">
                                <div class="products-grid ">
                                    <div class="no_crop_image grid-item col-xs-6 col-sm-4 col-md-3 col-lg-3 " *ngFor="let item of groupItemsHome ">
                                        <div class="inner product-item on-sale wow fadeIn " data-wow-delay="300ms " style="visibility: visible; animation-delay: 300ms; ">
                                            <div class="inner-top ">
                                                <div class="product-top ">
                                                    <div class="product-image image-swap ">
                                                        <a (click)="ProductDetail(item[0]) " class="product-grid-image ">
                                                            <img src={{item[0].foto_url}}>
                                                            <img src={{item[0].foto_url2}}>
                                                            <div class="hover "></div>
                                                        </a>
                                                    </div>
                                                    <div class="product-label ">
                                                        <strong class="label " data-translate="products.product.sale ">Venta</strong>
                                                    </div>
                                                    <div class="product-des ">
                                                        <div class="action ">
                                                            <form (click)="ProductDetail(item[0]) " method="post " class="variants " enctype="multipart/form-data ">
                                                                <button type="button " class="btn " onclick="window.location.href='car.html' " title="Agregar al Carrito ">
                                                                      <i class="fa fa-shopping-cart " aria-hidden="true "></i>
                                                                      <span data-translate="products.product.select_options ">Agregar al Carrito
                                                                          </span>
                                                                  </button>
                                                            </form>
                                                        </div>

                                                        <div class="quickview-button ">
                                                            <a (click)="ProductDetail(item[0]) " title="Ver Detalle ">
                                                                <i class="fa fa-search " aria-hidden="true "></i>
                                                                <span data-translate="products.product.quick_view ">
                                                                      Quick View
                                                                  </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-bottom ">
                                                    <div class="product-vendor ">{{item[0].descripcio}}</div>
                                                    <a class="product-title ">
                                                        <!--    <span class="lang1 ">
                                                              Naminos elementum disus tincidunts cosmo de
                                                              cosmopolis
                                                          </span> -->
                                                    </a>
                                                    <div class="price-box ">
                                                        <p class="sale ">


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>